@model Sln.Models.Tratamiento

@{
    ViewBag.Title = "Edit";
}

<section class="title">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <h1>Editar Tratamiento</h1>
            </div>
            <div class="span6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Inicio</a> <span class="divider">/</span></li>
                    <li><a href="#">Administración</a> <span class="divider">/</span></li>
                    <li><a href="#">Tratamiento</a> <span class="divider">/</span></li>
                    <li class="active">Editar</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="portfolio" class="container main">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.FechaCreacion)
        @Html.HiddenFor(model => model.UsuarioCreacion)
        <div class="row-fluid">
            <div class="span4">
                <p class="muted">
                    Nombre
                </p>
                <input type="text" name="Nombre" id="Nombre" required="required" class="input-block-level" value="@Model.Nombre" />
            </div>
            <div class="span4">
                <p class="muted">
                    Estado
                </p>
                <div style="line-height:28px;">@Html.EditorFor(x => x.Estado) Activo</div>
            </div>  
         </div>

        <p class="muted">Descripción</p>
        <textarea rows="10" name="Descripcion" id="Descripcion" required="required" class="input-block-level" >@Model.Descripcion</textarea>
        <input type="submit" value="Guardar" class="btn btn-large btn-primary" />
        @Html.ActionLink("Cancelar", "Index", "Tratamiento", null, new { @class = "btn btn-large btn-primary" })

    }
    </section>
   
